
body {
background-color: #6A8D92;
}
.logo {
  height: 100px;
  border: 5px solid #4B4E6D;
}
#header {
  padding: 10px 0px 10px 0px;
  color: #80B192;
  background-color: #4B4E6D;
  font-family: 'Open Sans', sans-serif;
}
#results {
  color: #A1E887;
  font-family: 'Open Sans', sans-serif;
  background-color: #493548;
}
#link {
  color: #80B192;
}
#link:hover {
  color: white;
}
